.example-spacer {
  flex: 1 1 auto;
}

md-sidenav {
  width: 200px;
  border-right: #ddd solid 1px;
}

md-sidenav-container {
  height: calc(100% - 64px);

}
.my-content{
  height:100%
}
@media (max-width: 600px) {

  .mat-toolbar-row {
    height: calc(100% - 56px);
  }
}