
<md-toolbar>
    <button routerLink="/admin" md-button md-ripple>
        <md-icon class="md-18 mr-1">3d_rotation</md-icon>
        Example app
    </button>
</md-toolbar>

<md-sidenav-container>

    <md-sidenav mode="side" opened="true"  class="animation-slide-from-left">

    </md-sidenav>
    <router-outlet>


    </router-outlet>
</md-sidenav-container>