<p>
    tag-list works!
</p>

<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <md-input-container>
                <input mdInput type="text"
                       id="query"
                       [(ngModel)]="query"
                       placeholder="Live search"/>
            </md-input-container>

            <md-card>
                <md-list>
                    <app-admin-tag-list-item *ngFor="let tag of tags|async" [tag]="tag">

                    </app-admin-tag-list-item>
                </md-list>
            </md-card>
            <hr>
            <app-admin-tag-form></app-admin-tag-form>

        </div>
    </div>
</div>

{{tags|async|json}}