<form [formGroup]="tagForm" novalidate (ngSubmit)="save(tagForm.value, tagForm.valid)">

    <div class="form-group text-center">
        <md-input-container>
            <input mdInput type="text" autocomplete="off" class="form-control" formControlName="title" name="title" placeholder="Tag title">
            <md-hint *ngIf="submitted && tagForm.hasError('required', ['title'])" class="text-danger">
                Title
            </md-hint>

            <md-hint *ngIf="submitted && tagForm.hasError('minlength', ['title'])" class="text-danger">
                Invalid length, minimum 5 chars
            </md-hint>
        </md-input-container>
    </div>


    <div class="text-center">
        <button type="submit" class="btn btn-default" md-raised-button>Submit</button>
    </div>

</form>