@import '~bootstrap/scss/bootstrap';

$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}




